<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div id="root"></div>
<script>
    const BACKEND_DATA = Object.freeze(<%- JSON.stringify(backendData) %>);
</script>
<script src="/main.js"></script>
</body>
</html>
